# Игнорировать папки виртуальных окружений
venv/
env/

# Игнорировать файлы настроек IDE
__pycache__/

# Игнорировать файлы конфигурации
*.sqlite3
*.log

# Игнорировать файлы среды разработки
*.env
*.DS_Store

# Игнорировать статические файлы
/static/
/media/

# Игнорировать файлы с данными
/bot_app/config.py