{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceStore</title>
    <link rel="stylesheet" type="text/css" href="{%static 'spacestore/primary.css'%}">
</head>
<body>
    {% include 'navigation.html' %}


    <div class="content">
        <h1>Исследуйте наш ассортимент космических товаров</h1>
        <a href="{% url 'spacestore:store' %}" class="button">Космический магазин</a>

        <h1>Также вы можете начать исследовать космос с увлекательных статей</h1>
        <a href="{% url 'spaceposts:post_list' %}" class="button">Статьи про космос</a>

    
        <h2>Мы предлагаем широкий выбор товаров для любителей космоса. От моделей космических кораблей до уникальных сувениров. У нас есть всё, что может вас заинтересовать!</h2>
        
        <h1></h1>
        <div class="image-section">
            <img src="{% static 'spacestore/primary_image.jpg' %}" >
        </div>

    {% include 'footer.html' %}

</body>
</html>

