/* Основные стили для body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('/static/spaceposts/list.jpg');
    background-size: cover; /* Масштабирование изображения, чтобы оно заполнило весь фон */
    background-position: center; /* Центрирование изображения */
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Стили заголовков */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #091829; /* Синий цвет для заголовка */
    text-align: center; /* Центрирование текста */
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #101029; /* Синий цвет для заголовка */
}

/* Стили для пустого сообщения */
p {
    margin-bottom: 10px; /* Отступ снизу */
    color: #101029; /* Синий цвет для заголовка */
    font-size: 18px; /* Увеличенный размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #070b0f; /* Цвет кнопки */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}


/* Стили для тегов */
.tags {
    margin-top: 15px; /* Отступ сверху */
    font-size: 0.9em; /* Размер шрифта меньше */
    color: #0e1120; /* Серый цвет */
}

.tags a {
    color: #0e2135; /* Синий цвет для ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.tags a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для даты */
.date {
    font-size: 0.9em; /* Размер шрифта меньше */
    color: #0e1620; /* Серый цвет */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для постов */
article {
    background-color: #fff; /* Белый фон для постов */
    border: 1px solid #ddd; /* Серая граница */
    padding: 15px; /* Отступы */
    margin: 10px 0; /* Отступы между постами */
    border-radius: 5px; /* Закругленные углы */
}

/* Стили для пустого сообщения */


.post-title {
    border: 2px solid #092646; /* Цвет рамки (синий) */
    background-color: #e7f1ff; /* Светлый фон */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px; /* Отступы внутри рамки */
    text-align: center; /* Центрирование текста */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.post-title a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #151d25; /* Цвет текста ссылки */
    font-weight: bold; /* Жирный текст */
}
