<style>
    .content {
        flex: 1; /* Позволяет контенту занимать все доступное пространство */
        padding: 20px;
    }

    .footer {
        background-color: #4e4f69; /* Цвет фона футера */
        color: #fff; /* Цвет текста футера */
        text-align: center; /* Выравнивание текста по центру */
        padding: 10px 0; /* Отступы сверху и снизу */
    }

    hr {
        border: none; /* Убираем стандартные границы */
        height: 3px; /* Устанавливаем высоту */
        background-color: #1f2935; /* Цвет черты */
        margin: 0; /* Убираем отступы */
    }
</style>




<hr>
    <div class="footer">
        <h5>&copy; 2024 Космический магазин. Все права защищены.</h5>
        <h5>
            <a href="#">Политика конфиденциальности</a> | 
            <a href="#">Контакты</a> | 
            <a href="#">Социальные сети</a>
        </h5>
    </div>
